%h4 Users created per day
/= line_chart @users.group_by_day(:created_at).count
= line_chart users_per_day_charts_path
%h4 Enrollments created per day
/= column_chart @enrollments.group_by_day(:created_at).count
= column_chart enrollments_per_day_charts_path

%h4 Course popularity
/= pie_chart @courses.group(:enrollments_count).count
/= pie_chart @enrollments.joins(:course).group(:'courses.title').count
/= bar_chart @enrollments.joins(:course).group(:'courses.title').count
= bar_chart course_popularity_charts_path
